body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
      
}

.icon{
    width: 198px;
    height: 59px;
}


.collapse a{
    margin: 10px;
    font-size: 16px;
    
}

.row{
    
    background-color: #F0FFF0;

}
.container{
    margin-bottom: 50px;
}
.text-color{
    color: red;
    font-size: 16px;
}
.head h1{
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: none;
   
}
span{
    color: #21b573;
}
.button{
    width: 104px;
    height: 43px;
    top: 25px;
    left: 1201px;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    gap: 10px;
    background-image: radial-gradient(#fc466b, #3f5efb);
    color: white;
}

.collapse p{
    color: white;
    font-weight: 600;
}

.button-2{
   
    background-image: radial-gradient(#fc466b, #3f5efb);
    width: 104px;
    font-size: 12px;
    font-weight: 900;
    height: 43px;
    top: 470px;
    left: 150px;
    border-radius: 33px;
    padding: 12px, 36px, 12px, 36px;
    gap: 10px;
    color: white;
    border: none;
    margin-bottom: 15px;
}

.half-width{
    width: 38%;
    padding-left: 2%;
    
}
 
.half-width img{
    width: 100%;
}

.categoris img{
    width: 66px;
    
}
.section{
    display: flex;
}
.cat1{
    width: 220px;
    height: 220px;
    background-color: #F8FFFB;
    text-align: center;
    padding-top: 50px;
    border-radius: 13px;
    font-size: 20px;
    
}
.cat2{
    width: 220px;
    height: 220px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    border-radius: 13px;
    box-shadow: 10px 10px 5px #0000001A;
    font-size: 20px;
    
}
.cat3{
    width: 220px;
    height: 220px;
    background-color: #F8FFFB;
    text-align: center;
    padding-top: 50px;
    border-radius: 13px;
    font-size: 20px;
    
}
.cat4{
    width: 220px;
    height: 220px;
    background-color: #F8FFFB;
    text-align: center;
    padding-top: 50px;
    border-radius: 13px;
    font-size: 20px;
    
}
.cat1, .cat2, .cat3, .cat4 p{
 font-size: 14px;
}

.row{
    margin-bottom: 80px;
}

.card-footer img{
    width: 24px;
    margin-left: 14px;
}
.card-footer p{
    font-size: 13px;
    display: inline;
    margin-left: 8px;
}
#courses{
    width: 270px;
    margin: auto;
}
.card{
    padding-top: 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 5px #0bd7851a;
}
.course h1{
    margin-bottom: 110px;
    text-align: center;
}
.half-width-2 img{
    width: 100px;
    position: absolute;
    
}
.half-width-2 p{
    
    width: 400px;
    height: 400px;
    margin-left: 150px;
}
.half-width-2{
    width: 40%;
   
}
.last .half-width-2{
    margin-bottom: 100px;
}

#test{
    text-align: center;
}
.taiger, .tag1, .tag2, .tag3{
    display: flex;
}





